
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
     width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 2fr 1fr 6fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 8px;
}

header {
    background-color: #c69e4dc9;
    grid-area: 1 / 1 / 2 / -1;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    background-color: #c69e4dc9;
    grid-area: 2 / 1 / 3 / -1;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: #c69e4dc9;
    grid-area: 3 / 1 / 4 / 3;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

aside {
    background-color: #c69e4dc9;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #c69e4dc9;
    grid-area: 4 / 1 / 5 / -1;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 20px;
}